{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets":{
                    "node":"current"
                },
                "corejs":3,
                "useBuiltIns":"usage"//按需加载
            }
        ]
  
    ]
}